Temas

Colecciones de datos
Estructuras Decisivas y Estructuras Repetitivas
Clases y Objetos
Funciones

# 1.1. Listas
# Es una colección de elementos que puede ser ordenada, modificada, etc..
# Se identifica por los corchetes
# Ejemplo:
aula = ['Caballero','Herrera','Torres','Bravo']
print(aula)

In [45]:
# Tambien se puede imprimir con solo mencional la lista
aula

['Chavez', 'Gomez', 'Hermitaño', 'Navarro']

In [44]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Chavez
Gomez

In [5]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [6]:
# Mostramos como quedó la lista
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro']

In [7]:
# Para agregar un elemento utilizamos append
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [8]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Bernaola")
aula

['Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [9]:
# Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Gomez")
aula

['Chavez', 'Navarro', 'Hermitaño', 'Gomez']

In [10]:
# Para obtener el tamaño utilizamos len()
len(aula)

4

In [11]:
# Para recorrrer podemos utilizar una estructura repetitiva
for alumno in aula:
    print(alumno)

Chavez
Navarro
Hermitaño
Gomez

In [12]:
# Para invertir la lista utilizamos reverse()
# invertir NO significa ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Gomez', 'Hermitaño', 'Navarro', 'Chavez']

In [13]:
# Parar ordenar una lista utilizamos sort()
aula.sort()
aula

['Chavez', 'Gomez', 'Hermitaño', 'Navarro']

In [14]:
# 1.2 Tuplas
# Es una colección de elementos ordenada (Ordenado significa que tiene un índice) que no se pueden modificar, es inalterable.
# No se pueden agregar elementos ni eliminar.
# se identifica por los parentesis
tupla_aula = ('Bernaola','Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [15]:
# 1.2 Tuplas
# Es una colección de elementos ordenada (Ordenado significa que tiene un índice) que no se pueden modificar, es inalterable.
# No se pueden agregar elementos ni eliminar.
# se identifica por los parentesis
tupla_aula = ('Bernaola','Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [16]:
# Se puede extraer un elemento por su posición
tupla_aula[2]

'Gomez'

In [17]:
# Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [18]:
# 1.3 Conjuntos
# Es una colección de elementos que no está ordenado
 # (Significa que no tiene un índice)
conjunto_aula = {'Bernaola','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [19]:
# Se puede recorrer utilizando una estructura repetitiva
# Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Navarro
Chipana
Gomez
Bernaola

In [20]:
# Observación: No se puede acceder por posición pues no considera indexación
# Por ejemplo:
# conjunto_aula[2] devolvería un mensaje de error

In [21]:
# Para saber la cantidad de elementos utilizamos len()
len(conjunto_aula)

4

In [22]:
#para agregar utilizacmos la funcion add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro', 'Palomino'}

In [23]:
# Parar eliminar elementos utilizamos la función remove()
conjunto_aula.remove("Chipana")
conjunto_aula

{'Bernaola', 'Gomez', 'Navarro', 'Palomino'}

In [24]:
# 1.4. Diccionarios
# Es una colección de elementos, que están indexados,
# no estan ordenados y se pueden modificar
# Son escritos entre llaves y están formados por pares de elementos
#  INDICE:VALOR
diccionario_aula = {2:'Bernaola', '1':'Chipana', 'dos':'Gomez', '3':'Navarro',
                    '0':'Palomino'}
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino'}

In [25]:
# Del Diccionario: diccionario_aula extraer el valor cuyo índice sea cero en String:
diccionario_aula['0']

'Palomino'

In [30]:
diccionario_aula[2]

KeyError: '2'

In [27]:
# Para añadir un par de elementos al diccionario hacemos:
diccionario_aula['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [31]:
# Para eliminar un valor se utiliza pop()
# Por ejemplo,eliminar el elmento de índice dos.ejemplo: Para eliminar a Bernaola que tendríamos que hacer:
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [32]:
# Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Chipana', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [33]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Chipana
3 Navarro
0 Palomino
20 Vilca

In [35]:
# 1.5. Ejercicio
# Dado una lista de [AMES, ARTEAGA , BARRIOS , BONIFACIO, BRAVO, CABALLERO , CAÑAZACA, FERNANDEZ , FLORES , GARCIA , HERRERA , HUERTA , HUERTAS, JIMENEZ , MAMANI , MANCILLA, PABLO , PAYE , PEÑA , PIZANGO, RAMOS, SANCHEZ,SEVILLANO, TINOCO, TORRES , VALDIVIESO, VELEZ , VILLANUEVA , ZUÑIGA]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista
# tiempo: 12 minutos

In [38]:
Lista_Apellidos = ["AMES", "ARTEAGA", "BARRIOS", "BONIFACIO", "BRAVO", "CABALLERO", "CAÑAZACA", "FERNANDEZ", "FLORES", "GARCIA", "HERRERA", "HUERTA", "HUERTAS", "JIMENEZ", "MAMANI", "MANCILLA", "PABLO", "PAYE", "PEÑA", "PIZANGO", "RAMOS", "SANCHEZ", "SEVILLANO", "TINOCO", "TORRES", "VALDIVIESO", "VELEZ", "VILLANUEVA", "ZUÑIGA"]

apellido = input("Ingrese el apellido a buscar: ")

if apellido.upper() in Lista_Apellidos:
    print("El apellido", apellido, "forma parte de la lista.")
else:
    print("El apellido", apellido, "no forma parte de la lista.")

Ingrese el apellido a buscar: tutut
El apellido tutut no forma parte de la lista.